<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Download tweets, videos, and images from Twitter with our easy to use Twitter downloader tool. High-quality downloads, fast speeds, and user-friendly interface."
    />
    <meta
      name="keywords"
      content="Twitter downloader, tweet downloader, Twitter videos, high-quality download,Twitter video downloader,Twitter video download"
    />
    <meta name="robots" content="index, follow" />
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline';"> -->

    <!-- Navigation-->
    <title>Twitter Download zone</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>

    <!-- Add this code snippet inside the <div class="card-body"> element -->
<!-- Add this code snippet inside the <div class="card-body"> element -->
  <div class="card-body">
    <div class="container">
        <form id="myForm" action="/twitter" method="post" name="myForm">
            <input type="text" name="url" placeholder="Enter URL here" class="form-control mt-3" /><br /><br />
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>

        <!-- Display the video using an iframe -->
        <% if (downloadUrl) { %>
        <a href="<%= downloadUrl %>" download>Download Video</a>
        <% } %>
    </div>
</div>



  </body>
  
</html>
