<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Download tweets, videos, and images from Twitter with our easy to use Twitter downloader tool. High-quality downloads, fast speeds, and user-friendly interface."
    />
    <meta
      name="keywords"
      content="Twitter downloader, tweet downloader, Twitter videos, high-quality download,Twitter video downloader,Twitter video download"
    />
    <meta name="robots" content="index, follow" />
    <!-- Navigation-->
    <title>Twitter Download zone</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Page Header -->
    <header id="backgroundforheader" class="masthead">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <div
                class="d-flex flex-column justify-content-center align-items-center mb-3"
                style="margin-top: -62px"
              >
                <h2>TWITTER FB INSTA & ALL DOWNLOADER</h2>

                <p style="font-size: 14px">
                  you may encounter error.Try reload again.<br />
                  There are some testing going on,will correct it soon.
                </p>

                <div
                  class="d-flex flex-column justify-content-center align-items-center"
                >
                  <div class="card-body">
                    <div class="container">
                      <form
                        id="myForm"
                        action="/twitter"
                        method="post"
                        name="myForm"
                      >
                        <input
                          type="text"
                          name="url"
                          placeholder="Enter URL here"
                          class="form-control mt-3"
                        /><br /><br />
                        <button type="submit" class="btn btn-primary mt-2">
                          Submit
                        </button>
                      </form>

                      <!-- <div class="mt-2">
                        <form action="/downloading" method="post" id="myForm1">
                          <input type="hidden" name="videoUrl" value="" />
                          <button type="submit" class="btn btn-primary mt-3">
                            Download Video
                          </button>
                        </form>
                        <br />
                        <iframe src="" frameborder="0" allowfullscreen></iframe>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
